# --- Build e Compilação do C# ---
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
*.pdb

# --- Arquivos do tModLoader ---
*.tmod

# --- Visual Studio ---
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- VS Code ---
.vscode/

# --- Sistema Operacional ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# --- Arquivos de Arte Fonte ---
# *.psd
# *.ase
# *.aseprite

# --- Logs, Caches e Arquivos temporários ---
*.log
[Ll]og/
*.tmp
*.bak
*~
*.[Cc]ache